---
excerpt: "Martin Bean: a web developer and platform engineer specialising in PHP, Laravel, JavaScript, TypeScript, and AWS."
layout: page
title: Martin Bean’s homepage
twitter_card_image: /img/martin-bean@2x.jpg
---
<section class="hero">
  <figure class="mx-auto hero-image">
    {% include headshot.html %}
  </figure>
  <h1 class="mb-0">
    Hello!
    <span class="font-weight-normal">I’m <span class="text-nowrap">Martin Bean</span>,<br>
    web developer and platform engineer<br>
    based in the <abbr class="initialism" title="United Kingdom">UK</abbr>.</span>
  </h1>
</section>
<section class="latest-posts" itemscope itemtype="http://schema.org/Blog">
  <h1 class="h2">Latest blog posts</h1>
  {% for post in site.posts limit: 5 %}
    {% include post.html %}
  {% endfor %}
  <footer class="text-right">
    <p>
      <a class="font-weight-bold" href="{% link blog/index.html %}">
        <span>More blog posts</span>
        <span aria-hidden="true">&rarr;</span>
      </a>
    </p>
  </footer>
</section>
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "birthDate": "1989-02-13",
    "birthPlace": {
      "@type": "Place",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Darlington",
        "addressCountry": "GB"
      }
    },
    "familyName": "Bean",
    "gender": "Male",
    "givenName": "Martin",
    "height": {
      "@type": "QuantitativeValue",
      "unitCode": "CMT",
      "value": 181
    },
    "homeLocation": {
      "@type": "Place",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Newcastle upon Tyne",
        "addressCountry": "GB"
      }
    },
    "image": "/img/martin-bean@2x.jpg",
    "mainEntityOfPage": "/",
    "sameAs": [
      "https://github.com/martinbean",
      "https://stackoverflow.com/users/102205/martin-bean?tab=profile",
      "https://twitter.com/martinbean",
      "https://www.instagram.com/martinbean/",
      "https://www.linkedin.com/in/martinbean",
      "https://www.youtube.com/@martinbean"
    ],
    "url": "/",
    "worksFor": [
      {
        "@type": "Organization",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Longfrey Cottage Dorking Road, Chilworth",
          "addressLocality": "Guildford",
          "postalCode": "Surrey",
          "addressCountry": "GB"
        },
        "legalName": "OpenPlay Ltd",
        "name": "OpenPlay",
        "url": "https://openplay.net"
      }
    ]
  }
</script>
