    <aside class="book-plug-wrapper" role="complementary">
      <img src="http://ir-uk.amazon-adsystem.com/e/ir?t=marbea-21&l=as2&o=2&a=1785283014" alt="" style="border: none; width: 0; height: 0;" />
      <div class="book-plug" role="complementary" itemscope itemtype="http://schema.org/Book">
        <div class="container">
          <div class="row">
            <figure class="book-cover">
              <a href="http://www.amazon.co.uk/gp/product/1785283014/ref=as_li_tl?ie=UTF8&camp=1634&creative=19450&creativeASIN=1785283014&linkCode=as2&tag=marbea-21&linkId=7ICCZRCZJQAMZEQI" rel="external">
                <img src="/img/laravel-5-essentials-book-cover.jpg" alt="Laravel 5 Essentials book cover" class="img-responsive" itemprop="image" />
              </a>
            </figure>
            <div class="book-details">
              <h2 itemprop="name">
                <a href="http://www.amazon.co.uk/gp/product/1785283014/ref=as_li_tl?ie=UTF8&camp=1634&creative=19450&creativeASIN=1785283014&linkCode=as2&tag=marbea-21&linkId=7ICCZRCZJQAMZEQI" rel="external">Laravel 5 Essentials</a>
              </h2>
              <div class="book-description" itemprop="description">
                <p>I’m absolutely delighted to say I was asked by Packt Publishing in late 2014 to write an Essentials guide on Laravel 5.
                  If you have an interest in Laravel but may not have got to grips with it yet, the book will walk you through creating an application from start to finish with the framework.</p>
                <p><i>Laravel 5 Essentials</i>, is available both directly from Packt, as well as on Amazon.</p>
              </div>
              <a class="btn" href="https://www.packtpub.com/web-development/laravel-5-essentials" rel="external">Purchase from Packt</a>
              <a class="btn" href="http://www.amazon.co.uk/gp/product/1785283014/ref=as_li_tl?ie=UTF8&camp=1634&creative=19450&creativeASIN=1785283014&linkCode=as2&tag=marbea-21&linkId=7ICCZRCZJQAMZEQI" rel="external">Purchase from Amazon</a>
            </div>
          </div>
        </div>
      </div>
    </aside>