<footer class="site-footer" role="contentinfo">
  <div class="container">
    <p class="copyright">&copy; {{ 'now' | date: '%Y' }} Martin Bean. All rights reserved.</p>
    <ul class="list-inline m-b-0">
      <li class="list-inline-item">
        <a href="https://twitter.com/martinbean" rel="external">
          <span aria-hidden="true" class="fa fa-lg fa-fw fa-twitter"></span>
          <span class="sr-only">Twitter</span>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://github.com/martinbean" rel="external">
          <span aria-hidden="true" class="fa fa-lg fa-fw fa-github"></span>
          <span class="sr-only">GitHub</span>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.linkedin.com/in/martinbean" rel="external">
          <span aria-hidden="true" class="fa fa-lg fa-fw fa-linkedin"></span>
          <span class="sr-only">LinkedIn</span>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="http://stackoverflow.com/users/102205/martin-bean?tab=profile" rel="external">
          <span aria-hidden="true" class="fa fa-lg fa-fw fa-stack-overflow"></span>
          <span class="sr-only">Stack Overflow</span>
        </a>
      </li>
    </ul>
  </div>
</footer>
