{% if paginator.total_pages > 1 %}
  <ul class="pagination">
    {% if paginator.previous_page %}
      <li class="page-item page-item-previous">
        <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
          <span aria-hidden="true">&larr;</span>
          <span>Newer posts</span>
        </a>
      </li>
    {% endif %}

    {% if paginator.next_page %}
      <li class="page-item page-item-next">
        <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
          <span>Older posts</span>
          <span aria-hidden="true">&rarr;</span>
        </a>
      </li>
    {% endif %}
  </ul>
{% endif %}
