<div class="sidebar-item">
  <p>I’m Martin Bean, a web developer based in Newcastle upon Tyne, <abbr class="initialism" title="United Kingdom">UK</abbr>.
    I enjoy creating elegant solutions to complex problems.</p>
  <a href="https://twitter.com/martinbean" class="twitter-follow-button" data-show-count="true" data-dnt="true">Follow @martinbean</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
