<div>
  <p>I’m <strong>Martin Bean</strong>, a freelance web developer based in Newcastle upon Tyne, <abbr class="initialism" title="United Kingdom">UK</abbr>.
    I’ve also given <a href="/talks">talks</a>, <a href="/books">reviewed and authored books</a>, and I am co-organiser of the <a href="http://www.phpne.org.uk/" rel="external">PHP North East</a> user group.</p>
  <a href="https://twitter.com/martinbean" class="twitter-follow-button" data-lang="en" data-dnt="true" data-show-count="true">Follow @martinbean</a>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<hr class="m-y-2" />

<div class="card bg-success">
  <div class="card-block text-xs-center">
    <p class="m-b-0">I am currently <strong>available for new projects</strong> from October 2017.</p>
  </div>
</div>
