<div class="card border-0 bg-light mb-3">
  <div class="card-body">
    <figure class="text-center">
      <img src="/img/martin-bean.jpg" alt="Martin Bean" class="img-fluid rounded-circle headshot" />
    </figure>
    <ul class="fa-ul mb-0">
      <li>
        <span class="fa fa-fw fa-li fa-twitter text-muted" aria-hidden="true"></span>
        <a href="https://twitter.com/martinbean" rel="external" title="Martin Bean on Twitter">Twitter</a>
      </li>
      <li>
        <span class="fa fa-fw fa-li fa-github text-muted" aria-hidden="true"></span>
        <a href="https://github.com/martinbean/" rel="external" title="Martin Bean on GitHub">GitHub</a>
      </li>
      <li>
        <span class="fa fa-fw fa-li fa-linkedin text-muted" aria-hidden="true"></span>
        <a href="https://www.linkedin.com/in/martinbean" rel="external" title="Martin Bean on LinkedIn">LinkedIn</a>
      </li>
      <li>
        <span class="fa fa-fw fa-li fa-stack-overflow text-muted" aria-hidden="true"></span>
        <a href="https://stackoverflow.com/users/102205/martin-bean" rel="external" title="Martin Bean on Stack Overflow">Stack Overflow</a>
      </li>
    </ul>
  </div>
</div>
<a href="https://twitter.com/martinbean?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @martinbean</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
