@mixin client-logo($width, $offset: 0) {
  background-position: $offset 0;
  width: $width;

  @include media-breakpoint-down(md) {
    background-position: ($offset / 2) 0;
    width: ($width / 2);
  }
}

.list-clients {
  @extend .m-b-0;

  > li {
    @extend .p-a;
    vertical-align: top;
  }
}

.client-logo {
  @include text-hide();
  background: url(../img/clients-sprite.png) no-repeat 0 0;
  background-size: auto 80px;
  display: block;
  height: 80px;
  opacity: .6;
  transition: opacity .1s ease;

  @include media-breakpoint-down(md) {
    background-size: auto 40px;
    height: 40px;
  }

  @include hover-focus {
    @include text-hide();
    opacity: 1;
  }

  &.akqa {
    @include client-logo(150px, -220px);
  }
  &.bamma {
    @include client-logo(149px, -477px);
  }
  &.better-brand-agency {
    @include client-logo(148px, -813px);
  }
  &.hedgehog-lab {
    @include client-logo(106px, -627px);
  }
  &.reflections {
    @include client-logo(71px);
  }
  &.ryan-foster-design {
    @include client-logo(80px, -733px);
  }
  &.scs {
    @include client-logo(149px, -71px);
  }
  &.tighten {
    @include client-logo(107px, -370px);
  }
}
