$enable-deprecation-messages: false;
$enable-transitions: false;
$enable-validation-icons: false;

$ignore-warning: true;

$red: #b02027;

$primary: $red;
$dark: #080202;

$body-color: $dark;

$font-family-sans-serif: "IBM Plex Sans", sans-serif;

$headings-font-family: "IBM Plex Sans", sans-serif;
$headings-font-weight: 700;

$btn-border-width: 2px;
$btn-border-radius: 0;

$navbar-brand-font-size: 1rem;
$navbar-dark-color: #fff;
$navbar-dark-hover-color: $primary;
$navbar-dark-active-color: $primary;

$hr-border-width: 2px;

$pagination-border-width: 2px;
$pagination-border-color: $dark;
$pagination-border-radius: 0;
$pagination-hover-color: #fff;
$pagination-hover-bg: $dark;
$pagination-hover-border-color: $dark;
$pagination-active-color: #fff;
$pagination-active-bg: $primary;
$pagination-active-border-color: $pagination-border-color;
$pagination-disabled-border-color: $pagination-border-color;

$code-color: $red;
