@use 'sass:color';

$black: #000;
$white: #fff;
$blue: #00ace9;
$magenta: #ff4d93;
$orange: #fa9f4d;
$green: #00bdac;

$primary: $green;

$link-color: $primary;

$body-bg: #fff7ed;
$body-color: color.mix(#000, $body-bg, 75%);

$text-muted: color.mix(#000, $body-bg, 54%);

$font-family-sans-serif: "Maison Neue", sans-serif;

$pre-bg: color.mix(#000, $body-bg, 90%);

$headings-font-family: "Maison Neue Extended", sans-serif;
$headings-font-weight: 500;
