$brand-primary: #784cab;

$body-bg: mix(#fff, $brand-primary, 96.5%);

$navbar-light-color: rgba(0,0,0,.6);
$navbar-light-hover-color: rgba(0,0,0,.8);
$navbar-light-active-color: $brand-primary;

$pre-bg: darken($body-bg, 3.5%);
