@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "bootstrap-overrides";
@import "pygments/manni";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.headshot {
  width: 150px;
  max-width: 75%;
}

.site-footer {
  color: darken($text-muted, $theme-color-interval);
  background-color: theme-color("light");
}

figure.highlight > pre,
pre.highlight {
  background-color: theme-color("light");
  margin-left: -15px;
  padding: 15px;
}

.post-item {
  position: relative;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;

  &::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 25px;
    border-bottom: $hr-border-width solid $primary;
  }
}

.post-title {
  font-size: $h3-font-size;
}

.post-meta {
  color: $text-muted;
  font-size: $font-size-sm;
  margin-bottom: .5rem;
}

.post-excerpt {
  margin-bottom: 0;
}

.section-title {
  position: relative;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;

  &::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 25px;
    border-bottom: 4px solid $primary;
  }
}

.jumbotron-home {
  margin-top: -1.5rem;

  h1 {
    em {
      font-style: normal;
    }

    strong {
      color: $primary;
      font-weight: $headings-font-weight;
    }
  }

  p {
    color: mix(#fff, $blue, 85%);
  }

  a {
    color: mix(#fff, $blue, 92.5%);

    @include hover-focus {
      color: #fff;
      text-decoration: none;
      border-bottom: 1px solid mix(#fff, $blue, 50%);
    }
  }

  .jumbotron-inner {
    @include media-breakpoint-up(lg) {
      padding-right: 33.33%;
    }
  }
}

.btn {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  text-transform: uppercase;
}

.btn-outline-dark {
  .btn-icon {
    color: $link-color;
  }
}

.navbar-dark {
  .navbar-brand,
  .navbar-nav {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
  }

  .navbar-brand {
    color: #fff;
    text-transform: uppercase;
  }
}

.page-item .page-link {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  border-radius: 0 !important;
}

.container-newsletter {
  max-width: 40rem;

  .btn-primary {
    font-size: .875rem;
  }
}

.blockquote {
  font-weight: 300;
  border-left: .5rem solid $gray-200;
  margin-left: .5rem;
  padding-left: 1rem;
}
