.btn {
  font-size: $font-size-base;
  font-weight: 600;
  line-height: $line-height-base;
  text-align: center;
  display: inline-block;
  margin: 0;
  padding: 11px 24px 13px;
  border: none;
  border-radius: 3px;
  vertical-align: middle;
}

// TODO Create mixin
.btn-primary {
  color: #fff;
  background-color: $link-color;
  &:hover,
  &:focus {
    color: #fff;
    background-color: $link-hover-color;
    border-color: $link-hover-color;
  }
}
