.clients {
  background-color: lighten($brand-primary, 45%);
  margin-bottom: ($line-height-computed * 1.5);
  padding: $line-height-computed;
  padding-bottom: ($line-height-computed * 1.5);
}

.client-list {
  padding-left: 0;

  > .client-item {
    @include hide-text();
    background: url(../img/clients-sprite.png) no-repeat;
    background-size: auto 80px;
    height: 80px;
    margin: 0 10px;
    padding: 0;

    &.akqa {
      background-position: -220px 0;
      width: 150px;
    }

    &.bamma {
      background-position: -477px 0;
      width: 149px;
    }

    &.hedgehog-lab {
      background-position: -627px 0;
      width: 106px;
    }

    &.reflections {
      background-position: -0px 0;
      width: 71px;
    }

    &.scs {
      background-position: -71px 0;
      width: 149px;
    }

    &.tighten {
      background-position: -370px 0;
      width: 107px;
    }
  }
}
