code,
pre {
  font-family: $font-family-monospace;
}

code {
  color: $brand-secondary;
  font-size: ($font-size-base - 1px);
}

pre {
  color: #fff;
  font-size: $font-size-small;
  line-height: $line-height-base;
  text-shadow: 0 1px 0 rgba(0,0,0,.75);
  background-color: $text-color;
  display: block;
  margin-right: ($grid-gutter-width / -2);
  margin-bottom: $line-height-computed;
  margin-left: ($grid-gutter-width / -2);
  padding: ($line-height-computed / 2) ($grid-gutter-width / 2);
  overflow: auto;

  code {
    color: inherit;
  }
}
