.hero-unit {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.25);
  background-color: $brand-primary;
  margin-bottom: $line-height-computed;
  padding-top: ($line-height-computed * 2);
  padding-bottom: ($line-height-computed * 2);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
    margin-top: 0;
  }

  p {
    font-size: $font-size-large;
    margin-bottom: $line-height-computed;
  }

  em {
    font-style: normal;
    font-weight: inherit;
  }

  .btn.availability-date {
    font-weight: 400;
    margin-bottom: 0;
    padding: 14px 30px 16px;
    border: 1px solid #fff;
    border-radius: 4px;

    > strong {
      font-weight: 600;
    }
  }
}
