a {
  color: $link-color;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $link-hover-color;
  }

  img {
    border: none;
  }
}

.link-cta {
  .btn {
    margin: 0 ($grid-gutter-width / 4);
    vertical-align: baseline;
  }
}
