@mixin border-radius($radius) {
  border-radius: $radius;
}

@mixin container-fixed() {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-right: ($grid-gutter-width / 2);
  padding-left: ($grid-gutter-width / 2);
}

@mixin hide-text() {
  color: transparent;
  font-size: 0;
  line-height: 0;
  text-shadow: none;
  background-color: transparent;
  border: none;
}

@mixin list-inline {
  margin: 0 -5px;

  > li {
    display: inline-block;
    padding: 0 5px;
  }
}

@mixin square($size) {
  width: $size;
  height: $size;
}
