.pager {
  margin-bottom: $line-height-computed;
  padding-left: 0;
  overflow: hidden;

  > li {
    color: lighten($text-color, 20%);
    display: block;

    > a,
    > span {
      display: inline-block;
      padding: ($line-height-computed / 4) ($grid-gutter-width / 2);
      border: 1px solid #ccc;
      @include border-radius($line-height-computed * 1.5)
    }

    > a {
      &:hover,
      &:focus {
        color: #fff;
        background-color: $link-color;
        border-color: $link-color;
      }
    }

    > span {
      cursor: not-allowed;
    }
  }

  > .previous {
    float: left;

    > a,
    > span {
      &:before {
        content: '\2190 \00a0';
      }
    }
  }

  > .next {
    float: right;

    > a,
    > span {
      &:after {
        content: '\00a0 \2192';
      }
    }
  }
}
