.page-header {
  background-color: $brand-primary;
  margin-bottom: $line-height-computed;
  padding-top: $line-height-computed;
  padding-bottom: $line-height-computed;

  .page-title {
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
  }
}
