.project {
  margin-bottom: ($line-height-computed / 2);

  figure {
    & > img {
      display: block;
      width: 100%;
      max-width: 100%;
    }
  }

  .project-details {
    padding-right: ($grid-gutter-width / 2);
    padding-left: ($grid-gutter-width / 2);
  }

  .name {
    font-size: $font-size-h2;
    margin-top: 0;
  }

  @media (min-width: 768px) {
    figure {
      width: 40%;
      margin-top: ($line-height-computed / -4);
      padding-right: ($grid-gutter-width / 2);
      float: left;
    }
  }
}
