html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  color: $text-color;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-style: normal;
  font-weight: normal;
  line-height: $line-height-base;
  background: $body-bg;
}

.sr-only {
  position: absolute;
  @include square(1px);
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: none;
}
