.site-header {
  text-align: center;
  background-color: #fff;
  padding-top: ($line-height-computed * 1);
  padding-bottom: ($line-height-computed * 1);
  overflow: hidden;

  .avatar {
    @include square($line-height-computed * 2);
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
  }

  .site-title {
    font-weight: 600;
    line-height: ($line-height-computed * 2);
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: $line-height-computed;
  }

  .site-navigation {
    font-weight: 600;

    > ul {
      margin: 0;
      padding: 0;
    }

    .active > a {
      color: $link-hover-color;
    }
  }

  @media (min-width: 700px) {
    .site-title {
      float: left;
      margin-bottom: 0;
    }

    .site-navigation {
      line-height: $line-height-computed * 2;
      float: right;
    }
  }
}
