.site-footer {
  color: lighten($text-color, 30%);
  text-align: center;
  background-color: lighten($brand-primary, 45%);
  padding-top: ($line-height-computed * 1.5);
  padding-bottom: ($line-height-computed * 1.5);

  a {
    color: lighten($text-color, 45%);
    &:hover,
    &:focus {
      color: lighten($text-color, 30%);
    }
  }

  .list-links {
    margin: 0 -10px;
    padding: 0;

    > li {
      padding: 0 10px;
    }
  }
}
