// I’m aware I need to tidy this file up.

@import "variables";
@import 'node_modules/bootstrap/scss/bootstrap';

abbr[title] {
  text-decoration: none;
  border-bottom: none;
}

pre {
  background-color: $gray-lightest;
  margin-right: ($spacer-x * -1);
  margin-left: ($spacer-x * -1);
  padding: $spacer-x $spacer-y;
}

@include media-breakpoint-down(xs) {
  .nav-item-home {
    display: none;
  }
}

.site-footer {
  color: $text-muted;
  font-size: $font-size-sm;
  text-align: center;
  background-color: $gray-lightest;
  padding: ($spacer-y * 3) 0;

  a {
    color: $body-color;
    font-weight: 500;

    @include hover-focus {
      color: $link-color;
    }
  }
}

.twitter-follow-button {
  display: block;
}

.article {
  margin-bottom: $spacer-y * 1.5;
  padding-bottom: $spacer-y * 1.5;
  border-bottom: $hr-border-width solid $hr-border-color;

  &-headline {
    font-size: $font-size-h3;
    margin-top: 0;
  }

  &-meta {
    color: $text-muted;
    font-size: $font-size-sm;
    margin-bottom: $spacer-y / 2;
  }

  &-summary {
    margin-bottom: 0;
  }
}

.jumbotron-home {
  color: #fff;
  text-align: center;
  background-color: $brand-primary;

  h1 {
    font-size: 3rem;
    font-weight: 400;
  }

  h2 {
    color: mix($brand-primary, #fff, 30%);
    font-size: 1.25rem;
    font-weight: 300;
  }

  .container {
    > :first-child {
      margin-top: 0;
    }
    > :last-child {
      margin-bottom: 0;
    }
  }

  @include media-breakpoint-up(sm) {
    text-align: left;

    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 1.5rem;
    }
  }
}

.page-title {
  margin: 0;
}

.pagination {
  // Why the fuck does Bootstrap give paginators top margin?
  margin-top: 0;
}

.talk {
  // TODO: Combine with article style and create a generic “list” component
  margin-bottom: $spacer-y * 1.5;
  padding-bottom: $spacer-y * 1.5;
  border-bottom: $hr-border-width solid $hr-border-color;

  &-name {
    font-size: $font-size-h3;
    margin-top: 0;
  }

  &-meta {
    color: $text-muted;
    font-size: $font-size-sm;
    margin-bottom: $spacer-y / 2;
  }

  &-organizer {
    margin-bottom: 0;
  }
}
