@import "variables";
@import 'node_modules/bootstrap/scss/bootstrap.scss';

.navbar-light {
  .navbar-brand {
    color: $link-color;

    @include hover-focus {
      color: $link-hover-color;
    }
  }

  .navbar-nav .nav-item.active .nav-link {
    @include plain-hover-focus {
      color: $link-color;
    }
  }
}

.jumbotron-home {
  img {
    @include size(96px);
    @extend .m-b-1;
  }

  .lead {
    max-width: 600px;
    margin: 0 auto;
  }
}

.site-footer {
  font-size: 85%;
  background-color: $gray-lightest;
  @extend .text-muted;
  @extend .p-y-3;

  a {
    color: $body-color;

    @include hover-focus {
      color: $link-hover-color;
    };
  }

  .list-inline {
    @extend .m-b-0;
  }
}

.page-header {
  @extend .bg-primary;
  @extend .m-b-1;
  @extend .p-y-1;

  .page-title {
    @extend .m-b-0;
  }
}

.entry {
  @extend .m-b-1;
  @extend .p-b-1;
  border-bottom: 1px solid $gray-lighter;

  .entry-title {
    font-size: $font-size-h4;
    @extend .m-b-0;
  }
}

.entry-published {
  font-size: 85%;
  display: block;
  @extend .text-muted;
}

pre {
  background-color: $gray-lightest;
  margin-left: ($spacer-x * -1);
  @extend .p-a-1;
}

.site-primary,
.site-secondary {
  @extend .m-b-2;

  > :last-child {
    @extend .m-b-0;
  }
}

.site-secondary {
  color: $gray;
}

.book-plug {
  color: #fff;
  background-color: lighten(#221e1f, 5%);
  @extend .p-y-2;

  a {
    color: $book-plug-color;
  }

  .btn-primary {
    @include button-variant(#fff, $book-plug-color, $book-plug-color);
  }

  .book-cover {
    margin-top: ($spacer * -3);
  }

  @include media-breakpoint-down(sm) {
    text-align: center;

    .book-cover {
      width: 60%;
      margin-right: auto;
      margin-bottom: $spacer * 1.5;
      margin-left: auto;
    }
  }
}

.event-list-item {
  border-bottom: 1px solid $gray-lighter;
  @extend .m-b-1;
  @extend .p-b-1;

  .event-organiser,
  .event-date {
    @extend .m-b-0;
  }

  .event-name {
    font-size: $font-size-h4;
    margin-bottom: .5rem;
  }

  .event-date {
    @extend .text-muted;
  }
}

.project {
  figure {
    margin-bottom: 0;
  }

  img {
    @extend .img-fluid;
  }
}
