h1,
h2,
h3,
h4,
h5,
h6 {
  color: $headings-color;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  margin-bottom: $line-height-computed;
}
h1 {
  font-size: $font-size-h1;
}
h2 {
  font-size: $font-size-h2;
}
h3 {
  font-size: $font-size-h3;
}
h4 {
  font-size: $font-size-h4;
}
h5 {
  font-size: $font-size-h5;
}
h6 {
  font-size: $font-size-h6;
}

dl,
p,
ol,
ul {
  margin-bottom: ($line-height-computed / 2);
}

ol,
ul {
  margin-left: ($grid-gutter-width / 2);
}

.list-inline {
  @include list-inline();
}
