// Inspiration: https://kuler.adobe.com/Pendo-Flat-Final-color-theme-3156866/

$brand-primary: #e04e39;
$brand-secondary: #41748d;
$brand-positive: #089352;
$brand-negative: #932617;

$body-bg: #e9edea;
$text-color: darken($brand-secondary, 10%);

$link-color: $brand-primary;
$link-color-hover: darken($link-color, 15%);

$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-family-serif: serif;
$font-family-monospace: 'Ubuntu Mono', monospace;
$font-family-base: $font-family-sans-serif;

$font-size-base: 16px;
$font-size-large: ceil($font-size-base * 1.25);
$font-size-large: ceil($font-size-base * 0.85);

$font-size-h1: floor($font-size-base * 2.6);
$font-size-h2: floor($font-size-base * 2.15);
$font-size-h3: floor($font-size-base * 1.7);
$font-size-h4: floor($font-size-base * 1.25);
$font-size-h5: floor($font-size-base);
$font-size-h6: floor($font-size-base * 0.85);

$line-height-base: 1.5;
$line-height-computed: floor($font-size-base * $line-height-base);

$headings-color: $text-color;
$headings-font-family: 'Titillium Web', sans-serif;
$headings-font-weight: 600;
$headings-line-height: 1.1;

$footer-text-color: rgba($text-color, 0.75);

$padding-base-vertical: ($font-size-base / 2);
$padding-base-horizontal: ($font-size-base / 1);

$border-radius-base: ($font-size-base / 3);
$border-radius-large: ($font-size-base / 2);
$border-radius-small: ($font-size-base / 4);

$abbr-border-color: rgba($text-color, 0.25);

$code-color: $brand-secondary;
$code-bg: transparent;

$pre-color: $body-bg;
$pre-bg: darken($text-color, 15%);

$grid-columns: 12;
$grid-gutter-width: 1.875em;

$screen-xs-min: 30em;
$screen-sm-min: 48em;
$screen-md-min: 62em;
$screen-lg-min: 75em;

$container-sm: (45em + $grid-gutter-width);
$container-md: (58.75em + $grid-gutter-width);
$container-lg: (71.25em + $grid-gutter-width);