.availability {
    .availability-available,
    .availability-unavailable {
        color: white;
        text-align: center;
        text-shadow: 0 0.1em 0.1em rgba(0,0,0,0.5);
        padding: $padding-base-vertical $padding-base-horizontal;
        @include border-radius($border-radius-small);
    }
    .availability-available {
        background-color: $brand-positive;
        @include animation(pulse 2s infinite);
    }
    .availability-unavailable {
        background-color: $brand-negative;
    }
}

@keyframes pulse {
    0%, 100% {
        background-color: $brand-positive;
    }
    75% {
        background-color: adjust-hue($brand-positive, 15%);
    }
}

@-webkit-keyframes pulse {
    0%, 100% {
        background-color: $brand-positive;
    }
    75% {
        background-color: adjust-hue($brand-positive, 15%);
    }
}