.clients {
    text-align: center;
    margin-bottom: $line-height-computed;
}
.clients-inner {
    padding: ($line-height-computed - 1px) 0;
    border-color: lighten($brand-primary, 40%);
    border-style: solid;
    border-width: 1px 0;
}
.client-list {
    line-height: 100px;
    margin: 0 ($grid-gutter-width / -2);
    list-style: none;
}
.client-item {
    display: inline;
    padding-left: ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
}
.client-logo {
    margin-bottom: $line-height-computed;
    vertical-align: middle;
}