.hfeed {
    .entry {
        margin-bottom: $line-height-computed;
        padding-bottom: ($line-height-computed - 1px);
        border-bottom: 1px solid lighten($brand-primary, 40%);
    }
    
    .entry-title {
        font-size: $font-size-h2;
        margin-top: 0;
    }
    
    .entry-summary {
        p:last-child {
            margin-bottom: 0;
        }
    }
}