.footer {
    .footer-inner {
        text-align: center;
        margin-top: $line-height-computed;
        padding: $line-height-computed 0;
        border-top: ($line-height-computed / 4) solid rgba($text-color, 0.075);
    }
    
    p {
        margin-bottom: 0;
    }
}