.project {
    text-align: center;
    @include gradient(top, lighten($brand-primary, 42.5%), darken(white, 2.5%));
    padding: $line-height-computed 0 ($line-height-computed / 2);
    @include clearfix();
    &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }
    
    figure {
        img {
            display: block;
            margin: 0 auto;
        }
    }
    
    figure,
    .project-details {
        padding-left: ($grid-gutter-width / 2);
        padding-right: ($grid-gutter-width / 2);
    }
    
    .name {
        font-size: $font-size-h2;
    }
    .description {
        & > p:last-child {
            margin-bottom: 0;
        }
    }
}

@media (min-width: $screen-md-min) {
    .project {
        text-align: left;
        &:nth-child(odd) {
            figure {
                float: right;
            }
            .project-details {
                float: left;
            }
        }
        &:nth-child(even) {
            figure {
                float: left;
            }
            .project-details {
                float: right;
            }
        }
        
        figure,
        .project-details {
            width: 50%;
        }
    }
}