@import 'reset';

*,
*:before,
*:after {
    @include box-sizing(border-box);
}

html {
    font-size: 100%;
    text-rendering: optimizeLegibility;
    @include text-size-adjust(100%);
    @include font-smoothing(antialiased);
}

body {
    color: $text-color;
    font-family: $font-family-base;
    font-style: normal;
    font-weight: 400;
    line-height: $line-height-base;
    background: $body-bg;
}