h1,
h2,
h3,
h4,
h5,
h6 {
    color: $headings-color;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    margin-top: $line-height-computed;
    margin-bottom: ($line-height-computed / 2);
    -webkit-font-smoothing: antialiased;
}
h1 {
    font-size: $font-size-h1;
    margin-top: 0;
}
h2 {
    font-size: $font-size-h2;
}
h3 {
    font-size: $font-size-h3;
}
h4 {
    font-size: $font-size-h4;
}
h5 {
    font-size: $font-size-h5;
}
h6 {
    font-size: $font-size-h6;
}

p {
    font-size: 1em;
    margin-bottom: 0.75em;
    &.lead {
        font-size: floor($font-size-base * 1.15);
        font-weight: 200;
        line-height: 1.33333333;
        margin-bottom: $line-height-computed;
    }
}

ol,
ul {
    margin: 0 0 0.75em $grid-gutter-width;
    ol,
    ul {
        margin-bottom: 0;
    }
    
    &.list-unstyled {
        margin-left: 0;
        & > li {
            list-style: none;
        }
    }
    
    &.fa-ul {
        & > li {
            list-style: none;
        }
        
        .fa {
            line-height: inherit;
            margin-top: -1px;
        }
    }
}
ol li {
    list-style: decimal;
}
ul li {
    list-style: disc;
}

b,
strong {
    font-weight: 600;
}

em,
i {
    font-style: italic;
}

abbr[title] {
    border-bottom: 1px dotted $abbr-border-color;
    cursor: help;
    
    &.initialism {
        font-size: 90%;
        text-transform: uppercase;
    }
}

del {
    color: rgba($text-color, 0.75);
    text-shadow: none;
}
ins {
    text-decoration: none;
}

code,
kbd,
pre,
samp {
    font-family: $font-family-monospace;
}

code {
    color: $code-color;
    font-size: 100%;
    background-color: $code-bg;
    white-space: nowrap;
}

pre {
    color: $pre-color;
    font-size: $font-size-small;
    line-height: $line-height-base;
    background-color: $pre-bg;
    display: block;
    margin: 0;
    margin-bottom: ($line-height-computed / 2);
    padding: ($line-height-computed / 2) ($line-height-computed / 1.5);
    word-break: break-all;
    word-wrap: break-word;
    @include border-radius($border-radius-base);
    -webkit-font-smoothing: antialiased;
    
    code {
        color: inherit;
        font-size: inherit;
        text-shadow: 0 0.1em 0.1em rgba(255,255,255,0.5);
        background-color: transparent;
        padding: 0;
        white-space: pre-wrap;
        @include border-radius(0);
    }
}

blockquote {
    p:before {
        color: $brand-primary;
        content: '\201c';
    }
    p:last-of-type:after {
        color: $brand-primary;
        content: '\201d';
    }
    
    small {
        color: lighten($text-color, 25%);
        font-style: italic;
        &:before {
            content: '\2014 \00a0';
        }
    }
}

.text-muted {
    color: lighten($text-color, 25%);
}

.page-header {
    h1 {
        margin-top: 0;
    }
}