.widget {
    margin-bottom: $line-height-computed;
    padding-bottom: $line-height-computed;
    border-bottom: 0.1em solid rgba($text-color, 0.075);
    &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }
    
    & > *:last-child {
        margin-bottom: 0;
    }
}

.twitter-follow-button-wrapper {
    height: $line-height-computed;
}