.mr-auto {
  margin-right: auto;
}
.mx-auto {
  margin-right: auto;
  margin-left: auto;
}
.mt-n2 {
  margin-top: -0.5rem;
}
.ml-auto {
  margin-left: auto;
}
.ml-4 {
  margin-left: 1.5rem;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-3 {
  margin-bottom: 1rem;
}

.pb-3 {
  padding-bottom: 1rem;
}
