figure {
  display: block;
  margin: 0;
  padding: 0;
}

.post-body {
  figure {
    margin: 0 -1rem 1.25rem;

    img {
      display: block;
      max-width: 100%;
    }
  }

  figcaption {
    font-size: .875rem;
    display: block;
    margin-left: 1rem;
  }
}
