h1, h2, h3, h4, h5, h6 {
  color: mix(#000, $body-bg, 90%);
  font-family: $headings-font-family;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
  margin-bottom: .5rem;
  padding: 0;

  &:not(:first-child) {
    margin-top: 1rem;
  }
}
h1, .h1 {
  font-size: 3rem;
}
h2, .h2 {
  font-size: 2rem;
}
h3, .h3 {
  font-size: 1.5rem;
}
h4, .h4 {
  font-size: 1.25rem;
}
h5, .h5 {
  font-size: 1rem;
}
h6, .h6 {
  font-size: .875rem;
  text-transform: uppercase;
}
