* {
  box-sizing: border-box;
}

html {
  text-rendering: optimizeLegibility;
}

body {
  color: $body-color;
  font-family: $font-family-sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: $body-bg;
  -webkit-font-smoothing: antialiased;
}
