<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title | default: site.title | append: page.title_suffix }}</title>
    {% if page.excerpt %}<meta name="description" content="{{ page.excerpt | strip_html }}" />{% endif %}
    <meta name="twitter:card" content="{{ page.twitter_card_type | default: 'summary' }}" />
    <meta name="twitter:site" content="@martinbean" />
    <meta name="twitter:creator" content="@martinbean" />
    <meta name="twitter:title" content="{{ page.title }}" />
    {% if page.twitter_card_image %}
    <meta name="twitter:image" content="{{ page.twitter_card_image }}" />
    {% endif %}
    <meta name="twitter:description" content="{{ page.excerpt | strip_html }}" />
    <link href="//fonts.googleapis.com" rel="preconnect" />
    <link href="//www.google-analytics.com" rel="preconnect" />
    <link href="//cdnjs.cloudflare.com" rel="preconnect" />
    <link href="/css/app.css" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Mono:400,700" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-AIodEDkC8V/bHBkfyxzolUMw57jeQ9CauwhVW6YJ9CA=" crossorigin="anonymous" />
    <meta name="p:domain_verify" content="4be195e9d8fb2f0ca80076a8f12c5f3c" />
  </head>
  <body>
    {% include analytics.html %}
    {% include header.html %}
    {{ content }}
    <script src="/js/vendor/jquery.slim.min.js"></script>
    <script src="/js/vendor/popper.min.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>
  </body>
</html>
