---
layout: master
---
    <div class="hero hero-home">
      <div class="container">
        <h1>I make websites and web apps.</h1>
        <p>I&rsquo;m a freelance web developer, focusing on PHP and related technologies.<br />
          I like building elegant solutions to challenging problems.</p>
        <p>I&rsquo;m available from <strong>{{ site.available_date }}</strong>.</p>
        <a class="btn" href="/contact/">Get in touch</a>
      </div>
    </div>
    <div role="main">
{{ content }}
    </div>
