---
layout: master
---
    <div class="jumbotron jumbotron-fluid jumbotron-home bg-primary text-center">
      <div class="container">
        <img src="//gravatar.com/avatar/6b17165d23ead15e66854ff882c59e0c?s=192" alt="Martin Bean" class="avatar img-circle" />
        <p class="lead">I’m Martin Bean, a freelance <abbr class="initialism" title="PHP: Hypertext Preprocessor">PHP</abbr> developer, consultant &amp; author.<br />
          I enjoy creating elegant solutions to complex problems.</p>
        <p class="m-b-0">
          <span class="btn btn-secondary-outline">Fully booked until <strong>{{ site.available_date }}</strong></span>
        </p>
        <p class="m-b-0">
          <small>I’m based in Newcastle upon Tyne, <abbr class="initialism" title="United Kingdom">UK</abbr> but work with clients in any location.</small>
        </p>
      </div>
    </div>
    <div role="main">
{{ content }}
    </div>
