---
layout: master
---
    <div class="hero-unit hero-unit-home">
      <div class="container">
        <h1>I&rsquo;m a freelance PHP developer &amp; consultant.</h1>
        <p>I make websites and web apps in PHP and related technologies.
          I enjoy creating elegant solutions to challenging problems.</p>
        <p>I am available from <strong>{{ site.available_date }}</strong>.</p>
        <a class="btn btn-lg" href="/contact/">Get in touch</a>
      </div>
    </div>
    <div role="main">
{{ content }}
    </div>
