---
layout: master
---
    <div class="container">
      <section role="main">
        <article class="entry">
          <header class="entry-header">
            <h1 class="entry-title">{{ page.title }}</h1>
          </header>
          <footer class="entry-meta">
            <p class="text-muted"><time class="published" datetime="{{ page.date|date_to_xmlschema }}" pubdate>Posted {{ page.date|date_to_long_string }}</time></p>
          </footer>
          <div class="entry-content">
{{ content }}
          </div>
        </article>
{% include disqus.html %}
      </section>
    </div>
