.btn {
    color: $brand-primary;
    font-weight: 600;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.75);
    display: inline-block;
    @include gradient(top, white, lighten($brand-primary, 40%));
    margin: 0;
    padding: 0.5em 2em;
    border: none;
    border-radius: $border-radius-base;
    vertical-align: center;
    cursor: pointer;
    &:hover,
    &:active,
    &:focus {
        background-color: lighten($brand-primary, 40%);
        background-image: none;
    }
    &:active,
    &:focus {
        text-shadow: none;
        @include box-shadow(inset 0 0.1em 0.25em rgba(0,0,0,0.25));
    }
}

.btn-primary {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.25);
    @include gradient(top, lighten($brand-primary, 5%), darken($brand-primary, 5%));
    &:hover,
    &:active,
    &:focus {
        color: #fff;
        background-color: darken($brand-primary, 5%);
        background-image: none;
    }
}
