$entry-horizontal-offset: 10em;

.entry {
    .published {
        display: inline-block;
        margin-bottom: ($line-height-computed / 2);
    }

    @media (min-width: 768px) {
        padding-left: $entry-horizontal-offset;

        .entry-meta {
            margin-left: ($entry-horizontal-offset * -1);
            float: left;
        }
    }
}

.hfeed {
    .entry {
        margin-bottom: $line-height-computed;
        padding-bottom: ($line-height-computed - 1px);
        border-bottom: 1px solid lighten($brand-primary, 40%);
        @include clearfix();
    }

    .entry-title {
        font-size: $font-size-h2;
        margin-top: 0;
    }

    .entry-summary {
        p:last-child {
            margin-bottom: 0;
        }
    }
}
