.clearfix {
    @include clearfix();
}

.container {
    @include clearfix();
    margin-left: auto;
    margin-right: auto;
    padding-left: ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
}

.row {
    @include clearfix();
    margin-left: ($grid-gutter-width / -2);
    margin-right: ($grid-gutter-width / -2);
}

.col {
    padding-left: ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
}

@media (min-width: $screen-sm-min) {
    .container {
        max-width: $container-sm;
    }
    
    @include make-grid($grid-columns, $grid-gutter-width, 'sm');
}

@media (min-width: $screen-md-min) {
    .container {
        max-width: $container-md;
    }
    
    @include make-grid($grid-columns, $grid-gutter-width, 'md');
}

@media (min-width: $screen-lg-min) {
    .container {
        max-width: $container-lg;
    }
    
    @include make-grid($grid-columns, $grid-gutter-width, 'lg');
}