a {
    color: $link-color;
    font-weight: 600;
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
        color: $link-color-hover;
    }
    
    img {
        display: block;
        border: none;
    }
}