.pager {
    @include clearfix();
    margin: 0;
    
    .previous,
    .next {
        display: inline;
        &.disabled {
            color: rgba($text-color, 0.75);
        }
        
        a,
        span {
            display: inline-block;
        }
    }
    
    .previous {
        a,
        span {
            float: left;
            &:before {
                content: '\2190\00a0';
            }
        }
    }
    
    .next {
        a,
        span {
            float: right;
            &:after {
                content: '\00a0\2192';
            }
        }
    }
}