.services-intro {
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

.service {
    margin-bottom: $line-height-computed;
    padding-left: ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
}

.service-name {
    color: $text-color;
    font-size: 1.125em;
    margin-top: 0;
}

.service-summary {
    & > p:last-child {
        margin-bottom: 0;
    }
}

@media (min-width: $screen-md-min) {
    .service {
        width: 33.3333333%;
        float: left;
    }
}