.testimonial {
    padding-bottom: ($line-height-computed - 1px);
    margin-bottom: $line-height-computed;
    border-bottom: 1px solid lighten($brand-primary, 40%);

    .testimonial-author {
        position: relative;
        display: block;
        padding-left: 60px;
        &:before {
            content: '';
        }

        .avatar {
            display: block;
            width: 48px;
            height: 48px;
            margin-left: -60px;
            float: left;
        }

        .name {
            font-weight: normal;
            display: block;
        }

        .company {
            font-style: normal;
            display: block;
        }
    }
}

// TODO: Move this
.hire-me {
    text-align: center;
    padding: $line-height-computed 0;
}