.testimonial {
    padding-left: ($grid-gutter-width * 1.1);
    margin-bottom: ($line-height-computed * 2);
    border-left-color: lighten($brand-primary, 40%);
    border-left-style: solid;
    border-left-width: ($grid-gutter-width * 0.4);

    .testimonial-author {
        color: lighten($text-color, 25%);
        font-style: italic;
        position: relative;
        display: block;
        overflow: auto;
        &.with-image {
            padding-left: 60px;
            .avatar {
                display: block;
                width: 48px;
                height: 48px;
                margin-left: -60px;
                float: left;
            }
        }

        abbr {
            border-bottom: none;
        }
    }
}

// TODO: Move this
.hire-me {
    text-align: center;
    padding: $line-height-computed 0;
}
